{% extends 'base.html' %}


{% block main %}
   <div class="row">
    <div class="col-sm">
      colunas
    </div>
    <div class="col-sm">
      olá {{ usuario.funcionario.nome }}
    </div>
    <div class="col-sm">
      <a href="{% url 'logout' %}">Logout</a>
<!--        Se ele já tem uma empresa-->
        {% if usuario.funcionario.empresa %}
            <a href="">Editar Empresa</a>

        {% else %}
<!--        Se ele não tivr uma empresa-->
            <a href=""> Crie Sua Empresa</a>
        {% endif %}

    </div>
  </div>
{% endblock %}